In [2]:
import os
import pandas as pd

In [3]:
files = os.listdir('.\Котировки')
del files[8]
files

['US1.AAPL_150101_220101.csv',
 'US1.ADBE_150101_220101.csv',
 'US1.AMZN_150101_220101.csv',
 'US1.CSCO_150101_220101.csv',
 'US1.DIS_150101_220101.csv',
 'US1.INTC_150101_220101.csv',
 'US1.JNJ_150101_220101.csv',
 'US1.KO_150101_220101.csv',
 'US1.MSFT_150101_220101.csv',
 'US1.NFLX_150101_220101.csv',
 'US1.NKE_150101_220101.csv',
 'US1.NVDA_150101_220101.csv',
 'US1.PEP_150101_220101.csv',
 'US1.PFE_150101_220101.csv',
 'US1.PG_150101_220101.csv',
 'US1.PM_150101_220101.csv',
 'US1.TSLA_150101_220101.csv']

In [4]:
adf = pd.read_csv(f'.\Котировки\{files[0]}')
adf.head()

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
0,US1.AAPL,D,20150102,0,111.39,111.44,107.350,109.30,47045497
1,US1.AAPL,D,20150105,0,108.29,108.65,105.410,106.25,50146623
2,US1.AAPL,D,20150106,0,106.56,107.43,104.630,106.23,59441540
3,US1.AAPL,D,20150107,0,107.20,108.20,106.695,107.75,34452408
4,US1.AAPL,D,20150108,0,109.23,112.15,108.700,111.87,50255019

In [5]:
def get_year(x):
    return str(x)[:4]

def change_sep(x):
    return str(round(x, 4)).replace('.', ',')

df_high = pd.DataFrame(columns=['Ticker', '2015', '2016', '2017', '2018', '2019', '2020', '2021'])
df_low = pd.DataFrame(columns=['Ticker', '2015', '2016', '2017', '2018', '2019', '2020', '2021'])

for file_name in files:
    temp_df = pd.read_csv(f'.\Котировки\{file_name}')
    temp_df['<CHANGES>'] = temp_df['<CLOSE>'].pct_change().round(4) * 100
    temp_df['<YEAR>'] = temp_df['<DATE>'].apply(get_year)
    high = [temp_df['<TICKER>'][0]] + temp_df.groupby(['<YEAR>'])['<CHANGES>'].max().apply(change_sep).to_list()
    low = [temp_df['<TICKER>'][0]] + temp_df.groupby(['<YEAR>'])['<CHANGES>'].min().apply(change_sep).to_list()
    df_high.loc[len(df_high)] = high
    df_low.loc[len(df_low)] = low
df_high = df_high.set_index(['Ticker'])
df_low = df_low.set_index(['Ticker'])

In [6]:
df_high

           2015   2016   2017   2018   2019   2020   2021
Ticker
US1.AAPL   5,73   6,51   6,14   7,17   6,86   12,0   5,36
US1.ADBE   3,77   7,08  12,24    9,5   5,19  17,47   4,63
US1.AMZN  14,15   9,33  13,21  10,22   5,11   7,99   4,74
US1.CSCO   9,47   9,69   5,21   5,83   6,68  12,54   4,08
US1.DIS    7,67   3,07   4,75   5,64   11,5  14,52   6,35
US1.INTC   6,38   3,52    7,3  10,53    8,2  19,13   6,97
US1.JNJ    4,79   4,86    3,5   3,55   2,98    7,9   2,82
US1.KO     2,89   2,46   1,85   2,96   6,03   6,37   2,65
US1.MSFT  10,85   5,74   6,44   7,62   4,69  14,31   4,25
US1.NFLX  18,19   19,0  13,56  10,23   9,73  11,58  16,74
US1.NKE    8,85   3,88  10,94   11,2   4,63  15,16  15,57
US1.NVDA  13,86  29,81  17,89   9,37   7,19  17,52  12,02
US1.PEP    3,14   2,75   1,67   4,76   3,76  12,96   3,29
US1.PFE    3,89    7,1   3,28   4,73   3,14   9,29  10,78
US1.PG     3,58   3,51   3,73   8,75   4,87  12,03   3,23
US1.PM     8,72   3,17    3,0   4,23   8,12  10,16    4,2
US1.TSLA   11,2   8,88   7,26  17,24  17,55  19,99  19,66

In [7]:
df_low

            2015    2016   2017    2018    2019    2020    2021
Ticker
US1.AAPL   -6,11   -6,55  -3,84   -6,57  -10,03  -74,21   -4,13
US1.ADBE   -5,85   -8,28  -6,16   -8,04   -4,59  -14,52  -10,22
US1.AMZN   -6,29   -7,85  -3,56   -7,84   -5,38   -7,94   -7,46
US1.CSCO   -5,93   -5,07  -7,21   -5,35   -8,69  -11,19    -5,6
US1.DIS    -9,21   -5,23  -4,42   -5,33   -4,98  -12,99   -7,01
US1.INTC   -4,82   -9,22  -3,52   -8,63   -8,96  -17,83  -11,69
US1.JNJ    -3,25   -3,28  -3,18  -10,14   -6,22   -7,18   -3,52
US1.KO     -2,88   -4,83  -2,08   -4,03   -8,42   -9,66   -3,85
US1.MSFT   -9,31    -7,2  -3,79   -5,34   -3,72  -14,84   -3,63
US1.NFLX  -86,05  -13,13  -5,57    -9,4  -10,32  -11,73   -7,43
US1.NKE   -50,95   -5,03  -7,05   -6,81   -6,66  -11,67   -6,21
US1.NVDA   -7,42   -6,88  -9,28  -18,82  -13,86  -18,15  -75,23
US1.PEP    -4,65   -3,72  -2,03   -3,78    -2,8  -11,59   -2,77
US1.PFE    -4,08   -3,05  -1,82   -5,25   -6,36   -8,02   -5,11
US1.PG     -3,94   -3,34  -3,72   -4,25   -3,85   -8,61   -3,97
US1.PM     -3,28    -4,1  -3,86  -15,56    -7,7  -12,46   -4,74
US1.TSLA   -8,86  -10,45  -7,09   -13,9  -13,67  -77,49  -11,96

In [8]:
df_high.to_csv('.\Результаты\Результат анализа изменения цен (high).csv', sep=';')
df_low.to_csv('.\Результаты\Результат анализа изменения цен (low).csv', sep=';')